<div class="container-fluid">
    <div class="container">
        <div class="form" *ngIf="isAddBenefitShown">
            <div class="row">
                <div class="col-1 offset-11 close-toggle">
                    <button type="button" class="btn-close" aria-label="Close" (click)="toggleAddBenefit()"></button>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col">
                    <div class="form-group" 
                    [class.has-error]="guaranteedIssue.invalid && guaranteedIssue.touched"
                    [class.has-success]="guaranteedIssue.valid">
                        <label for="#GuaranteedIssue" 
                        class="{{newBenefit.guaranteedIssue == '' || newBenefit.guaranteedIssue == undefined ? 'js-hide-label' : 'js-unhide-label'}}">
                            Guaranteed Issue
                        </label>
                        <input class="form-control"
                        [(ngModel)]="newBenefit.guaranteedIssue" type="text" 
                        placeholder="GuaranteedIssue" 
                        #guaranteedIssue="ngModel" required>
                        <div class="alert alert-danger" 
                        *ngIf="guaranteedIssue.invalid && guaranteedIssue.touched" role="alert">
                            Guaranteed Issue is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group" 
                    [class.has-error]="minAgeLimit.invalid && minAgeLimit.touched"
                    [class.has-success]="minAgeLimit.valid">
                        <label for="#MinAgeLimit" 
                        class="{{newBenefit.minAgeLimit == '' || newBenefit.minAgeLimit == undefined ? 'js-hide-label' : 'js-unhide-label'}}">
                            Min Age Limit
                        </label>
                        <input class="form-control"
                        [(ngModel)]="newBenefit.minAgeLimit" type="text" 
                        placeholder="Min Age Limit" 
                        #minAgeLimit="ngModel" required>
                        <div class="alert alert-danger" 
                        *ngIf="minAgeLimit.invalid && minAgeLimit.touched" role="alert">
                            Min Age Limit is required
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" 
                    [class.has-error]="maxAgeLimit.invalid && maxAgeLimit.touched"
                    [class.has-success]="maxAgeLimit.valid">
                        <label for="#MaxAgeLimit" 
                        class="{{newBenefit.maxAgeLimit == '' || newBenefit.maxAgeLimit == undefined ? 'js-hide-label' : 'js-unhide-label'}}">
                            Max Age Limit
                        </label>
                        <input class="form-control"
                        [(ngModel)]="newBenefit.maxAgeLimit" type="text" 
                        placeholder="Max Age Limit" 
                        #maxAgeLimit="ngModel" required>
                        <div class="alert alert-danger" 
                        *ngIf="maxAgeLimit.invalid && maxAgeLimit.touched" role="alert">
                            Max Age Limit is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group" 
                    [class.has-error]="minRange.invalid && minRange.touched"
                    [class.has-success]="minRange.valid">
                        <label for="#MinRange" 
                        class="{{newBenefit.minRange == '' || newBenefit.minRange == undefined ? 'js-hide-label' : 'js-unhide-label'}}">
                            Min Range
                        </label>
                        <input class="form-control"
                        [(ngModel)]="newBenefit.minRange" type="text" 
                        placeholder="Min Range" 
                        #minRange="ngModel" required>
                        <div class="alert alert-danger" 
                        *ngIf="minRange.invalid && minRange.touched" role="alert">
                            Min Range is required
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group" 
                    [class.has-error]="maxRange.invalid && maxRange.touched"
                    [class.has-success]="maxRange.valid">
                        <label for="#maxRange" 
                        class="{{newBenefit.maxRange == '' || newBenefit.maxRange == undefined ? 'js-hide-label' : 'js-unhide-label'}}">
                            Max Range
                        </label>
                        <input class="form-control"
                        [(ngModel)]="newBenefit.maxRange" type="text" 
                        placeholder="Max Range" 
                        #maxRange="ngModel" required>
                        <div class="alert alert-danger" 
                        *ngIf="maxRange.invalid && maxRange.touched" role="alert">
                            Max Range is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pb-3">
                <div class="col">
                    <div class="form-group" 
                    [class.has-error]="increments.invalid && increments.touched"
                    [class.has-success]="increments.valid">
                        <label for="#increments" 
                        class="{{newBenefit.increments == '' || newBenefit.increments == undefined ? 'js-hide-label' : 'js-unhide-label'}}">
                            Increments
                        </label>
                        <input class="form-control"
                        [(ngModel)]="newBenefit.increments" type="text" 
                        placeholder="Increments" 
                        #increments="ngModel" required>
                        <div class="alert alert-danger" 
                        *ngIf="increments.invalid && increments.touched" role="alert">
                            Increments is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4 offset-4 add-benefit-button">
                    <div class="col-4 offset-4"><button type="button" class="btn btn-outline-success" (click)="addBenefit()">+ Benefit</button></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-md-10">Benefits</div>
        <div class="col-md-2"><button type="button" class="btn btn-outline-success" (click)="toggleAddBenefit()" *ngIf="!isAddBenefitShown">+ Benefit</button></div>
    </div>
    <div class="row">
        <div class="col">Id</div>
        <div class="col">Guaranteed Issue</div>
        <div class="col">Min Age Limit</div>
        <div class="col">Max Age Limit</div>
        <div class="col">Min Range</div>
        <div class="col">Max Range</div>
        <div class="col">Increments</div>
        <div class="col-1"></div>
    </div>
    <div class="row">
        <div class="accordion accordion-borderless" id="accordionFlush">
            <ng-container class="row" *ngFor="let benefit of benefits">
                <div class="accordion-item">
                    <h2 class="accordion-header" attr.id="flush-heading-benefit-{{benefit.id}}">
                        <button class="accordion-button collapsed" type="button" data-mdb-toggle="collapse"
                        attr.data-mdb-target="#flush-collapse-benefit-{{benefit.id}}" aria-expanded="false" attr.aria-controls="flush-collapse-benefit-{{benefit.id}}"
                        (click)="getBenefitHistory(benefit.id)">
                            <!-- Current Benefit -->
                            <div class="col">{{benefit.id}}</div>
                            <div class="col">{{benefit.guaranteedIssue}}</div>
                            <div class="col">{{benefit.minAgeLimit}}</div>
                            <div class="col">{{benefit.maxAgeLimit}}</div>
                            <div class="col">{{benefit.minRange}}</div>
                            <div class="col">{{benefit.maxRange}}</div>
                            <div class="col">{{benefit.increments}}</div>
                        </button>
                    </h2>
                    <div attr.id="flush-collapse-benefit-{{benefit.id}}" class="accordion-collapse collapse" attr.attr.aria-labelledby="flush-heading-benefit-{{benefit.id}}"
                    data-mdb-parent="#accordionFlush">
                        <div class="accordion-body card">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-1 offset-md-10">
                                            <button type="button" class="btn btn-outline-primary edit-button edit-benefit-button" (click)="editBenefit(benefit.id)"><i class="fa-regular fa-pen-to-square fa-2xl"></i></button>
                                        </div>
                                        <div class="col-1">
                                            <button type="button" class="btn btn-outline-danger delete-button delete-benefit-button" (click)="deleteBenefit(benefit.id)"><i class="fa-sharp fa-solid fa-trash-can fa-2xl"></i></button>
                                        </div>
                                    </div>
                                    <h6 class="pt-1">Previous Benefit</h6>
                                    <div class="row pb-1">
                                        <div class="col">Id</div>
                                        <div class="col">Guaranteed Issue</div>
                                        <div class="col">Min Age Limit</div>
                                        <div class="col">Max Age Limit</div>
                                        <div class="col">Min Range</div>
                                        <div class="col">Max Range</div>
                                        <div class="col">Increments</div>
                                        <div class="col-1"></div>
                                    </div>
                                    <ng-container *ngFor="let benefitsHistory of benefitsHistories">
                                        <div class="row">
                                            <!-- Benefits Histories -->
                                            <div class="col">{{benefitsHistory.id}}</div>
                                            <div class="col">{{benefitsHistory.guaranteedIssue}}</div>
                                            <div class="col">{{benefitsHistory.minAgeLimit}}</div>
                                            <div class="col">{{benefitsHistory.maxAgeLimit}}</div>
                                            <div class="col">{{benefitsHistory.minRange}}</div>
                                            <div class="col">{{benefitsHistory.maxRange}}</div>
                                            <div class="col">{{benefitsHistory.increments}}</div>
                                            <div class="col-1">
                                                <button type="button" class="btn btn-outline-danger delete-benefit-button" (click)="deleteBenefitHistory(benefitsHistory.id)">X</button>
                                            </div>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="benefitsHistories.length <= 0">
                                        <div class="row">
                                            <div class="col alert alert-warning">No history found</div>
                                        </div>
                                    </ng-container>
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination justify-content-center">
                                            <li class="page-item">
                                                <a class="page-link" tabindex="-1" (click)="getHistory(-1, benefit.id)"><button class="btn btn-light"><<</button></a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" (click)="getHistory(1, benefit.id)"><button class="btn btn-light">>></button></a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <ng-container *ngIf="benefits.length <= 0">
            <div class="row">
                <div class="col alert alert-warning">No benefit found</div>
            </div>
        </ng-container>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" tabindex="-1" (click)="getBenefits(-1)"><button class="btn btn-light"><<</button></a>
                </li>
                <li class="page-item">
                    <a class="page-link" (click)="getBenefits(1)"><button class="btn btn-light">>></button></a>
                </li>
            </ul>
        </nav>
    </div>
</div>