<div class="container">
    <div class="loginlbl">
        Login
    </div>
    <div class="form">
        <div class="row">
            <div class="col">
                <div class="form-group" 
                [class.has-error]="email.invalid && email.touched"
                [class.has-success]="email.valid">
                    <label for="#Email" 
                    class="{{userCredentials.email == '' ? 'js-hide-label' : 'js-unhide-label'}}">
                        Email
                    </label>
                    <input class="form-control"
                    [(ngModel)]="userCredentials.email" type="email" 
                    placeholder="Email" 
                    #email="ngModel" required email>
                    <div class="alert alert-danger" 
                    *ngIf="email.errors?.['required'] && email.touched" role="alert">
                        Email is required
                    </div>
                    <div class="alert alert-danger" 
                    *ngIf="email.errors?.['email'] && email.touched" role="alert">
                        Email is invalid
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group"
                [class.has-error]="password.invalid && password.touched"
                [class.has-success]="password.valid">
                    <label for="#Password" 
                    class="{{userCredentials.password == '' ? 'js-hide-label' : 'js-unhide-label'}}">
                        Password
                    </label>
                    <input class="form-control"
                    [(ngModel)]="userCredentials.password" type="password" 
                    placeholder="Password" 
                    #password="ngModel" required password>
                    <div class="alert alert-danger" 
                    *ngIf="password.invalid && password.touched" role="alert">
                        Password is required
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container">
                <div class="row justify-content-around">
                    <button type="button" class="btn btn-outline-success col" (click)="userLogin()">Login</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="animate" *ngIf="isLoading">
    <div class="loader-container">
        <span class="loader"></span>
    </div>
</div>